<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" href="css/mobile.css" media="all" />
        <title></title>
      
    </head>

    <body>
        <div class="wrap">
           <div class="thankyou_box">
               <a href="###" class="btn btn_share"></a>
           </div>
           
           
        </div>
    </body>

   <script src="js/fitScreen_callback.js"></script>
        <script>
            window.onload = function() {
                fitScreen(640);
            };
    </script>
</html>
